            Building a Regression MLP Using the Sequential API

In [27]:
import pandas as pd
import numpy as np

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [29]:
df = pd.read_csv('housing.csv')

In [30]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [31]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [32]:
# label encoding

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['ocean_proximity'] = label_encoder.fit_transform(df['ocean_proximity'])

In [33]:
df.sample(n=2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
13078,-121.34,38.56,12.0,2975.0,628.0,1440.0,593.0,2.9896,118600.0,1
4845,-118.31,34.03,52.0,1902.0,406.0,1233.0,385.0,2.8295,132200.0,0

In [34]:
df_test = df[df['median_house_value'].isna()]

In [35]:
df_train = df[~df['median_house_value'].isna()]

In [36]:
X = df_train.drop('median_house_value', axis=1)

In [37]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,3

In [38]:
X.shape

(20640, 9)

In [39]:
y = df_train['median_house_value']

In [40]:
y.shape

(20640,)

In [41]:
# check nullity

df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [42]:
df['total_bedrooms'].skew()

3.459546331523342

In [43]:
# perform a mean operation on the columns with null values

df['total_bedrooms'].fillna((df['total_bedrooms'].mean()), inplace=True)

In [44]:
# split

X_train_full, X_test, y_train_full, y_test = train_test_split(
    X,y, test_size=0.25
)

In [45]:
# create validation set

X_train, X_valid, y_train, y_valid = train_test_split(
    X_train_full, y_train_full
)

In [46]:
scaler = StandardScaler()

In [47]:
X_train_scaled = scaler.fit_transform(X_train)

In [48]:
X_valid_scaled = scaler.transform(X_valid)

In [49]:
X_test_scaled = scaler.transform(X_test)

In [50]:
from tensorflow import keras

In [51]:
model = keras.models.Sequential([
    keras.layers.Dense(30, activation='relu', input_shape=X_train.shape[1:]),
    keras.layers.Dense(1)
])

In [52]:
model.compile(
    loss='mean_squared_error', optimizer='sgd'
)

In [53]:
history = model.fit(
    X_train, y_train, epochs=20, validation_data=(X_valid, y_valid)
)

Epoch 1/20
363/363 [==============================] - 12s 6ms/step - loss: nan - val_loss: nan
Epoch 2/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 3/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 4/20
363/363 [==============================] - 2s 6ms/step - loss: nan - val_loss: nan
Epoch 5/20
363/363 [==============================] - 2s 4ms/step - loss: nan - val_loss: nan
Epoch 6/20
363/363 [==============================] - 2s 4ms/step - loss: nan - val_loss: nan
Epoch 7/20
363/363 [==============================] - 1s 3ms/step - loss: nan - val_loss: nan
Epoch 8/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 9/20
363/363 [==============================] - 2s 6ms/step - loss: nan - val_loss: nan
Epoch 10/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 11/20
363/363 [==============================] - 2s 6ms/step - loss: nan - val_loss: nan
Epoch 12/20
363/363 [==============================] - 2s 4ms/step - loss: nan - val_loss: nan
Epoch 13/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 14/20
363/363 [==============================] - 1s 4ms/step - loss: nan - val_loss: nan
Epoch 15/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 16/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 17/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 18/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 19/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan
Epoch 20/20
363/363 [==============================] - 2s 5ms/step - loss: nan - val_loss: nan

In [54]:
mse_test = model.evaluate(X_test, y_test)

162/162 [==============================] - 1s 3ms/step - loss: nan

In [57]:
X_new = X_test[:3] # pretend these are new instances
y_pred = model.predict(X_new)

1/1 [==============================] - 1s 814ms/step